/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/m4
/stamp-h1

/src/bins.cpp
/src/gcc/args.cpp
/src/gcc/harden_filter.cpp
/src/gcc/path_filter.cpp
/src/linker/args_dyld.cpp
/src/linker/args_dynamic.cpp
/src/linker/compiler_filter.cpp
/src/linker/harden_filter.cpp
/src/linker/path_filter.cpp
/bins.txt

Makefile
Makefile.in

/cc-wrapper*
/test/file_test
/test/flags_test
/test/gcc/args_test
/test/gcc/harden_test
/test/gcc/path_test
/test/graph_test
/test/main_test
/test/linker/args_test
/test/linker/compiler_test
/test/linker/path_test
/test/path_test
/test/strings_test
/test/util_test
.libs
.deps
.dirstamp
*.o
*.a
*.log
*.trs
*.gcda
*.gcno
