/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/m4
/stamp-h1

/cc-wrapper*.tar.*
/src/bins.cpp
/src/gcc/args.cpp
/src/gcc/harden_filter.cpp
/src/gcc/path_filter.cpp
/bins.txt

Makefile
Makefile.in

/cc-wrapper
/test/flags
/test/gcc/args
/test/gcc/harden
/test/gcc/path
/test/main
/test/linker
/test/path
/test/strings
/test/util
.libs
.deps
.dirstamp
*.o
*.a
*.log
*.trs
