/aclocal.m4
/aminclude_static.am
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
/m4
/stamp-h1

/cc-wrapper*.tar.*
/src/bins.cpp
/src/gcc/args.cpp
/src/gcc/harden_filter.cpp
/src/gcc/path_filter.cpp
/bins.txt

Makefile
Makefile.in

/cc-wrapper
/test/flags_test
/test/gcc/args_test
/test/gcc/harden_test
/test/gcc/path_test
/test/main_test
/test/linker_test
/test/path_test
/test/strings_test
/test/util_test
.libs
.deps
.dirstamp
*.o
*.a
*.log
*.trs
